[client]
#init_connect='SET AUTOCOMMIT=0'
user=martian

[mysqldump]
add-drop-table
complete-insert
create-options
extended-insert=false
hex-blob
quick
single-transaction
skip-comments

!include /Users/martian/.my.local.cnf
!include /home/martian/.my.local.cnf
!include ./.my.local.cnf
